---
import { type CollectionEntry, getCollection } from 'astro:content';

import Layout from '../../layouts/group/Layout.astro';
import Container from '../../components/Container.astro';

export async function getStaticPaths() {
	const posts = await getCollection('teamlist_bod');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
const { slug } = Astro.params;

type Props = CollectionEntry<'teamlist_bod'>;
const post = Astro.props;
const { Content } = await post.render();

const teamlist = (await getCollection('teamlist_bod'))
	.filter(post => post.data.status == 'active') // Filter out active posts
	.sort((a, b) => a.data.sort.valueOf() - b.data.sort.valueOf());

---
<Layout title={`${post.data.seo_title} | Board of Director | Fullerton Health` } meta_description={`${post.data.seo_description}` } body_class="project inner index something you wish to add for any use  main ">
	<div class="main">
        <section>	
			<Container className="project-details nfwidth">
				<div class="prose">
					<h1>{post.data.seo_title}</h1>
					<p><Content /></p>
				</div>
				<div>
					<ul role="list" class="">
						{
							teamlist.map((post) => (
								<li class={` portfolio-list notshow fromtop ${post.slug==slug ? 'current-team' : ''} `}  id={post.slug}>
									<a href={`/board-of-director/${post.slug}/`}>{post.data.seo_title}</a>
								</li>
							))
						}
					</ul>
				</div>
			</Container>
		</section>
	</div>
</Layout>
